body{
    background-image: url(imagens/fundo.jpg);
    background-size:cover;
    color:white    ;
    text-align: right;
    margin-right: 460px;
    font-family: 'Roboto Slab', serif;
    }

    h1{
    font-size: 150px;
    padding-top: 100px;
    margin-bottom: 15px;

    }

    p{
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        opacity: 0.8;
        padding-top: 25px;
    }

    span {
        color: #32eb63;
    }

    ul {
        list-style: none;
        margin-top: 50px;
    }

    li{
        display:inline
    }

    
    ul li a {
        color: white;
        text-decoration: none;
        font-size: 30px ;
        padding: 15px;
    }

    ul li a :hover {
        opacity:0,7;

    }

    .segundo-paragrafo{
    margin-bottom: 60px;
    }

    .botao {
        text-decoration: none;
        background-color: #32eb63;
        padding: 10px 15px;
        color: white;
    }

    .botao:hover{
     opacity:0.7 ;
    }